$black: #202020;
$anzac: #D9A841;
$cornflower: #8D8DC7;
$deep-blush: #E465A7;
$cyan:  #6ccdd5;
$green: #83967f;
$indigo: #494d96;
$lilac: #a45ca6;
$fucsia: #b8259a;
$coral: #ff8379;
$gold: #fec553;
$keppel: #45a6a0;
