@font-face {
  font-family: 'SirinStencil-Regular';
  src: url('/fonts/SirinStencil-Regular.ttf') format('ttf');
  src: url('/fonts/SirinStencil-Regular.woff') format('woff');
  src: url('/fonts/SirinStencil-Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'YesevaOne-Regular';
  src:  url('/fonts/YesevaOne-Regular.ttf') format('ttf');
  src: url('/fonts/YesevaOne-Regular.woff') format('woff');
  src: url('/fonts/YesevaOne-Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src:  url('/fonts/OpenSans-Regular.ttf') format('ttf');
  src:  url('/fonts/OpenSans-Regular.woff') format('woff');
  src:  url('/fonts/OpenSans-Regular.woff2') format('woff2');
  font-display: block;
}