@font-face {
  font-family: 'SirinStencil-Regular';
  src: url('~@/assets/fonts/SirinStencil-Regular.ttf') format('ttf');
  src: url('~@/assets/fonts/SirinStencil-Regular.woff') format('woff');
  src: url('~@/assets/fonts/SirinStencil-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'YesevaOne-Regular';
  src:  url('~@/assets/fonts/YesevaOne-Regular.ttf') format('ttf');
  src: url('~@/assets/fonts/YesevaOne-Regular.woff') format('woff');
  src: url('~@/assets/fonts/YesevaOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src:  url('~@/assets/fonts/OpenSans-Regular.ttf') format('ttf');
  src:  url('~@/assets/fonts/OpenSans-Regular.woff') format('woff');
  src:  url('~@/assets/fonts/OpenSans-Regular.woff2') format('woff2');
}