.page-container {
  background-color: #F5F5F5;
  position: absolute;
  left: 0;
  top: 0;
  width: 99.2vw;
}

.intro-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  padding: 2rem 3rem 0 3rem;
  overflow: hidden;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 20;
  flex-direction: row;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 65%;
}


.page-title {
  font-family: 'YesevaOne-Regular', 'Tahoma', sans-serif;
  font-size: 10rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.intro {
  grid-row-start: 2;
}

.main-image {
  width: 80%;
  grid-column-start: 1;
  grid-row-start: 2;
  z-index: 10;
  margin-left: 20%;
}

.highlight-text {
  font-size: 2.6rem;
  font-family: 'OpenSans-Regular', 'AvantGarde', 'Garamond', serif;
  font-weight: 100;
  line-height: 1.4;
  padding-bottom: 2rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
  z-index: 0;
}

p {
  font-size: 1.4rem;
  font-weight: 350;
  line-height: 1.8;
  grid-column-start: 1;
}

.content-container {
  padding: 1.5rem 15%;
}

@media (max-width: 1800px) {
  .page-title {
    font-size: 8rem;
  }

  .content-container {
    padding: 1rem 10%;
  }

  .intro-text {
    width: 55%;
  }
}

@media (max-width: 1280px) {
  .content-container {
    padding: 1rem 5%;
  }

  .intro-text {
    width: 75%;
  }

  .highlight-text {
    font-size: 2.2rem;
  }
}

@media (max-width: 960px) {
  .intro-container {
    height: 32rem;
  }

  .page-title {
    font-size: 6rem;
  }

  .highlight-text {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .intro-container {
    padding: 2rem 2rem 1rem 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 10% 65% 25%;
  }

  .intro-text {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
  }

  .main-image {
    width: 100%;
    margin-left: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    z-index: 10;
  }

  .page-title {
    font-size: 3.6rem;
  }

  .content-container {
    padding: 1rem 2rem 0 2rem;
  }
}


@media (max-width: 640px) {
  .page-title {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .highlight-text {
    font-size: 1.7rem;
  }
}


@media (max-width: 500px) {
  .intro-container {
    padding: 2rem 1rem 1rem 1rem;
    height: 28rem;
  }

  .page-title {
    font-size: 2.5rem;
  }

  .content-container {
    padding: 1rem 1rem 0 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .highlight-text {
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
  }
}

@media (max-width: 400px) {
  .intro-container {
    height: 20rem;
  }

  .page-title {
    font-size: 2rem;
  }
}