@import '_fonts';
@import '_colors';

.heading {
  font-family: 'Yeseva One', 'AvantGarde', 'Garamond', serif;
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.heading-2 {
  font-family: 'Yeseva One', 'AvantGarde', 'Garamond', serif;
  font-size: 10rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.heading-3 {
  font-family: 'Yeseva One', 'AvantGarde', 'Garamond', serif;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.heading-4 {
  font-family: 'Yeseva One', 'AvantGarde', 'Garamond', serif;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.medium-text {
  font-size: 1.3rem;
}

.uppercase {
  text-transform: uppercase;
}

.small-text {
  font-size: 0.9rem;
}

@media(max-width: 768px) {
  .small-text {
    font-size: 0.7rem;
  }
}
