@import '_fonts';
@import '_colors';

.heading {
  font-family: 'YesevaOne-Regular', Courier, monospace;
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.heading-2 {
  font-family: 'YesevaOne-Regular', Courier, monospace;
  font-size: 10rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.medium-text {
  font-size: 1.3rem;
}

.uppercase {
  text-transform: uppercase;
}
